/* Global Styles */
* {
  /* border box means when i say something has a width, that width includes padding and border */
  box-sizing: border-box;
}
h3{
  text-align: center;
}
h2{
  color: darkblue;
  text-align: center;
}
.example {
  text-align: left;
}
.aboutheading {
  text-align:center;
}

body {
  margin: 500;
  font-family: 'Courier New', Courier, monospace,  sans-serif;
}

.img {
  width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
}
/* Desktop First Styling */
header {
  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  /* flex container */
  display: flex;
  /* stack items inside horizontally */
  flex-direction: row;

  justify-content: space-between;

  align-items: center;
  background-image: url('../img/assault.png');
  /* 1 rem = 16px */
  padding: 0 2rem; 
  /* Whenever we want to absolute position a child element
  inside of a parent element,
  we need to make sure the parent element is positioned relative */
  position: relative;
}

.brand {
  margin: 0;
  font-weight: 300;
}

.thanks {

  margin: 250;}


  p {
    
    margin-left: 80px;
  }
header a {
  color: #AAA;
  text-decoration: none;
}

.mobile-menu { 
  display: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.menu li a {
  display: block; 
  padding: 1rem;
}

.menu li a:hover {
  color: #EEE;
  background-color: rgba(0,0,0,0.3);
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* tells the children elements to wrap to a new line if neccessdary */
  flex-wrap: wrap;
  background-color:black;
}

.thumb {
  width: 300px;
  height: 300px;
  flex: 0 0 23%; 

  /*flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 23%;  */

 /*width: 23%; */
  margin: 2rem auto;
  /* These are the styles you need to add to your EXISTING .thumb in your css file */
  /* If anything is bigger than our width and height, clip it aka dont show anythign that overflows */
  overflow: hidden;
  /* because we are going to absolute position something inside of this div, we need to make sure this one is positioned relative */
  position: relative;
}
/* prepareing the image's initial state/style for our transform on hover */
.thumb img {
  width:100%; 
  height:auto;
  transform: scale(1);
  transform: rotate(0deg);
  transition: all 1s ease;
}

/* changes to our img when we hover  */
.thumb:hover img {
  transform: scale(1.5) rotate(-20deg);
}


      /* changes to our img when we hover  */
      .thumb:hover img {
        transform: scale(1.5) rotate(-20deg);
      }

      .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: all 1s ease-in-out;
      }

      /* any styles you want for your title h2 */
      .mask h2 {
        margin: 0;
      }

      /* any styles you want for your description p */
      .mask p {
        font-style: italic;
      }

      /* our a tag that looks like a button */
      a.info {
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #333;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
      }

      .thumb:hover .mask {
        opacity: 1;
      }

      /* bonus stuff */
      .thumb .mask h2,
      .thumb .mask p,
      .thumb .mask a {
        opacity: 0;
        transform: scale(0);
        transition: all 1s ease-in-out;
      }

      .thumb:hover .mask h2,
      .thumb:hover .mask p,
      .thumb:hover .mask a {
        opacity: 1;
        transform: scale(1);
      }


     

      /* Modal CSS */

      /* This is the wrapper modal code, this this style is for the overlay in the background */
      .infoModal {
        /* this sticks it in place */
        position: fixed;
        /* this makes it cover the entire screen */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /*  */
        /* This is the transparent gray overlay backroung color */
        /* change the 4th value to change the transparancy level */
        background-color: rgba(0, 0, 0, 0.3);
        /* This make sure it is pulled in front of everything else on the page */
        z-index: 99999;
        /* This is the opacity. We start with it at 0 so we cant see it until we click the a tag */
        opacity: 0;
        /* this says when opacity changes in another css rule, have it take one second so we have a animation */
        transition: opacity 700ms ease-in;
        /* this makes sure we cant click on the stuff inside the invisble modal */
        pointer-events: none;
      }

      /* this is the code to change the modal to be visible when you click the a tag */
      .infoModal:target {
        /* make the modal visible */
        opacity: 1;
        /* makes the modal clicakble */
        pointer-events: auto;
      }

      /* this is the div for the modal box that holds your content */
      /* this css rule says find the infoModal in your html and look for the FIRST div inside of it */
      .infoModal > div {
        /* this is how you control how big the modal is */
        width: 95%;
        /* this is needed so we can position our close button in the top right corner */
        position: relative;
        /* this changes how far you want to push it down from the top of the browser */
        margin: 0 auto;
        /* this is the space between this dev and the stuff inside of it */
        padding: 30px;
        background-color: rgb(0, 0, 0);
      }

      /* this is the css for your close button anchor tags */
      .close {
        /* this makes it in the top right corner */
        position: absolute;
        top: 0;
        right: 0;
        /*  */
        /* this give it a width and height and the border radius of 50% makes it a circle */
        height: 30px;
        width: 30px;
        border-radius: 50%;

        /* This is the flexbox stuff to center the X inside of this button */
        display: flex;
        justify-content: center;
        align-items: center;

        /* this is where youd change the color of your close button and the X inside */
        background-color: white;
        color: black;

        /* this just changes the font of the X inside our button */
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        /* this removes the blue underling from a tags link text */
        text-decoration: none;
        /* this makes the button color change fade in and out on hover*/
        transition: all 1s ease;
      }

      /* this tells the button to change text and background color when you hover on the button */
      .close:hover {
        background-color: black;
        color: white;
      }





/* MEDIA QUERIES */

/* tablet size */
@media only screen and (min-width: 768px) and (max-width:1024px){
  body {
    background-color: green;
  }

  .thumb {
    flex: 0 0 45%;
    margin: 1rem auto;
  }
}

/* Smaller than ipad classic in portrait so we will assume mobile  */
@media only screen and (max-width:767px){
  body {
    background-color: rgba(237, 237, 245, 0.958);
  }

  header {

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 0;
  }

  .brand {
    margin: 0.5rem;
  }

  .mobile-menu {
    position: absolute;
    right: 1rem;
    top:0.5rem;
    display: block;
    font-size: 2rem;
    color:#AAA;
  }


  .menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .active {
    display: block;
  }

  .menu li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .container {
    flex-direction: column;
    background-color:black;
    
  }

  .thumb {
    flex: 1 1 100%;
    margin: 1rem auto;
  }
}