/* Global Styles */
* {
  /* border box means when i say something has a width, that width includes padding and border */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace,  sans-serif;
}

img {
  width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
}
/* Desktop First Styling */
header {
  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  /* flex container */
  display: flex;
  /* stack items inside horizontally */
  flex-direction: row;

  justify-content: space-between;

  align-items: center;
  background-image: url('../img/assault.png');
  /* 1 rem = 16px */
  padding: 0 2rem; 
  /* Whenever we want to absolute position a child element
  inside of a parent element,
  we need to make sure the parent element is positioned relative */
  position: relative;
}

.brand {
  margin: 0;
  font-weight: 300;
}

header a {
  color: #AAA;
  text-decoration: none;
}

.mobile-menu { 
  display: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.menu li a {
  display: block; 
  padding: 1rem;
}

.menu li a:hover {
  color: #EEE;
  background-color: rgba(0,0,0,0.3);
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* tells the children elements to wrap to a new line if neccessdary */
  flex-wrap: wrap;
  background-color:black;
}

.thumb {
  flex: 0 0 33%; 
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 23%;  */
  /* width: 23%; */
  margin: 2rem auto;
}


/* MEDIA QUERIES */

/* tablet size */
@media only screen and (min-width: 768px) and (max-width:1024px){
  body {
    background-color: green;
  }

  .thumb {
    flex: 0 0 45%;
    margin: 1rem auto;
  }
}

/* Smaller than ipad classic in portrait so we will assume mobile  */
@media only screen and (max-width:767px){
  body {
    background-color: blue;
  }

  header {

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 0;
  }

  .brand {
    margin: 0.5rem;
  }

  .mobile-menu {
    position: absolute;
    right: 1rem;
    top:0.5rem;
    display: block;
    font-size: 2rem;
    color:#AAA;
  }


  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .container {
    flex-direction: column;
    background-color:black;
    
  }

  .thumb {
    flex: 1 1 100%;
    margin: 1rem auto;
  }
}